html {
    font-size: 16px;
}

nav {
    height: 0px;
    position: sticky;
    top: 0;
}

body {
    margin: 0;
    background-color: #1A1A1A;
    height: 100%;
    width: 100%;
    font-family: 'Inter';
}

#root {
    margin: 0 auto 0 auto;
    width: 100%;
    max-width: 1180px;
}

#logo {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

#profile {
    position: relative;
    min-height: 47.5rem;
    height: 100vh;
    justify-content: center;
}

#profile-picture {
    width: 23.75rem;
    height: 23.75rem;
    border-radius: 11.875rem;
    position: absolute;
    right: 0px;
}

#profile-blurb {
    width: 36.25rem;
}

#socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;
}

#project-tiles {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
}

#technologies-lists {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(4, 1fr);
}

#about,
#technologies,
#projects {
    margin-top: 5rem;
    margin-bottom: 5rem;
    position: relative;
}

#technologies-lists>ul {
    flex: 1;
}

#technologies-lists>ul>li {
    line-height: 3rem;
}

#technologies-tile-1,
#technologies-tile-2,
#technologies-tile-3 {
    height: 5rem;
    width: 5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #333333;
    box-sizing: border-box;
    border-width: 2px;
    border-style: solid;
    position: absolute;
}

#technologies-tile-1 {
    border-color: #61DAFB;
    top: 50%;
    right: 12.5rem;
    translate: 0% -50%;
}

#technologies-tile-2 {
    border-color: #F58EA1;
    top: 0;
    right: 6.25rem;
}

#technologies-tile-3 {
    border-color: #F6C28B;
    bottom: 0;
    right: 0;
}

.technologies-tile-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.project-tile {
    aspect-ratio: 1 / 1;
    background-color: #333333;
    border-radius: 0.5rem;
    padding: 2.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    overflow: hidden;
}

.project-tile>h2 {
    color: #FFFFFF;
}

.project-tile>h2+p {
    color: rgba(255, 255, 255, 0.5);
    flex: 1;
    overflow: hidden;
}

h1,
h2,
p,
li,
ul {
    margin: 0;
}

h1 {
    font-size: 4.5rem;
    color: transparent;
    font-weight: bold;
    background-image: linear-gradient(to right, #61DAFB, #F58EA1, #F6C28B);
    background-clip: text;
    align-self: start;
    overflow: visible;
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

p,
li {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.text-small {
    font-size: 1rem;
    line-height: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
}

.icon {
    height: 2.5rem;
    width: 2.5rem;
}

@media (max-width: 1404px) {
    nav {
        display: none;
    }
}

@media (max-width: 1280px) {
    #root {
        max-width: 880px;
    }

    #profile-picture {
        position: static;
        margin: 0 auto;
    }

    #profile-blurb {
        width: 100%;
    }

    #technologies-lists {
        grid-template-columns: repeat(3, 1fr);
    }

    #technologies-tile-1,
    #technologies-tile-2,
    #technologies-tile-3 {
        display: none;
    }

    #project-tiles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 12px;
    }

    #root {
        max-width: 800px;
    }

    #profile-picture {
        position: absolute;
        right: 0px;
    }

    #profile-blurb {
        width: 36.25rem;
    }

    #project-tiles {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 880px) {
    #root {
        max-width: 600px;
    }

    #profile-picture {
        position: static;
        margin: 0 auto;
    }

    #profile-blurb {
        width: 100%;
    }

    #project-tiles {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    html {
        font-size: 10px;
    }

    #root {
        max-width: 425px;
    }

    .project-tile>h2+p {
        visibility: hidden;
    }
}